@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
.wrapper {
  background-color: #4f88dd;
}

.forgotTxt {
  text-decoration: none;
  color: white;
}
:visited {
  text-decoration: none;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-rows: 4rem calc(100vh - 8rem) 4rem;
}
.header {
  display: flex;
  justify-content: center;
  height: 4rem;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  color: white;
  font-family: "pacifico", cursive;
}
.formContainer {
  margin-top: 20%;
}
